<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="description" content="Student form page">
    <meta name="keywords" content="students, django, forms">
    <meta name="author" content="Students App">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Students</title>

    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
    <script crossorigin src="https://unpkg.com/react@18/umd/react.development.js"></script>
    <script crossorigin src="https://unpkg.com/react-dom@18/umd/react-dom.development.js"></script>
    <script src="https://unpkg.com/@babel/standalone/babel.min.js"></script>

</head>
<body>

    <div id="root">
    </div>
 
    <script>
        window.studentFormHTML = `
            {% csrf_token %}
            {{ student_form.as_p }}
        `;
    </script>

    <script type="text/babel" src="{% static 'students/javascript/components/Footer.jsx' %}"></script>
    <script type="text/babel" src="{% static 'students/javascript/components/Main.jsx' %}"></script>
    <script type="text/babel" src="{% static 'students/javascript/components/Header.jsx' %}"></script>
    <script type="text/babel" src="{% static 'students/javascript/Apps.jsx' %}"></script>
    <script type="text/babel" src="{% static 'students/javascript/index.jsx' %}"></script>
</body>
</html>
